@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
h1{
    font-family: 'Montserrat';
}
#italic{
    font-style: italic;
}
#red,li:nth-child(2){
    color: red;
}